.swipeButtons{
    position: fixed;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.swipeButtons{
    position: absolute;
    bottom:0;
   
}
.swipeButtons__close{
    padding: 3vw !important;
    color: rgb(175, 13, 13) !important;
}




